body{
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
}
h1{
    font-size: 3.5rem;
    color: hsl(210, 10%, 33%);
}
h2{
    font-size: 2.25rem;
    color: hsl(210, 10%, 33%);
}
p{
    color:hsl(201, 11%, 66%);
    line-height: 1.5;
    font-size: 1rem;
}
.bgheader{
    position:absolute;
    width: 1519px;
    top:0px;
}
.hero-section{
    text-align: center;
    margin: 150px auto;
    width: 1000px;
}
.btn{
    background-color: hsl(171, 66%, 44%);
    padding: 16px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    width: 200px;
    display: inline-block;
    border-radius: 70px;
    margin: 12px;
}
.mac{
    background-color: hsl(233, 100%, 69%);  
}
.ios{
    background-color: hsl(171, 66%, 44%)   ;
}
.feature-para{
    width:400px;
    margin: 10px 0 50px 0;
}
h3{
    margin: 0;
    font-size: 1.5rem;
    color: hsl(210, 10%, 33%);
}
.second_section{
    /* text-align: center; */
    margin: 150px auto;
    width: 1000px;
    position: relative;
}
.info{
    text-align: center;
    /* position: relative; */
    margin-bottom: 100px;   
}
.comp{
    width: 80%;
    position: relative;
    /* float: left; */
    right: 300px;
}
.features{
    position: absolute;
    right: 0px;
    top:200px;
    margin-top: 50px;
}
.bt{
    width: 850px;
    text-align: center;
    margin: 0 auto;
}
.third-section{
    margin: 150px auto;
    width: 1000px;
    position: relative;
    text-align: center;
    width: 1000px;
}
.small-cards{
    text-align: center;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}
.card-img{
    margin-bottom: 30px;
}
.forth-section{
    width: 1190px;
    margin: 0 auto;
}
.workflow{
    margin-bottom: 70px;
}
.fifth-section{
    width:1150px;
    margin: 150px auto;
}
.company-logo{
    margin: 0 40px;
    vertical-align: middle;
}
.footer-logo{
    width:64px;
    float:left;
    position: absolute;
    left:200px;
}
.footer{
    margin: 0 auto;
    position: realtive;
    padding: 50px 0;
    background-color:#F5F6F8 ;
}
.links{
    /* position: absolute; */
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.linktext{
    /* display: inline-block; */
    margin: 0 40px;
    line-height: 2;
    color: hsl(210, 10%, 33%);
}
.linktext:hover{
    color:hsl(171, 66%, 44%);
}
.linklist{
    position: realtive;
    width: 1000px;
    margin: 0 auto;
}
.social-links{
    /* float: right; */
    /* position: relative; */
    display: inline-block;
    position:absolute;
    right:200px;
}
.social{
    margin:0 10px;
}
a{
    text-decoration: none;
    color: white;
}
.mac:hover{
    background-color: hsl(233, 100%, 75%);  
}
.ios:hover{
    background-color: hsl(171, 76%, 61%)   ;
}